      </div>
            <div id="footer">
                <img height=55 src="/../images/logo.png" >
            </div>
        </div>
        <script type="text/javascript" src="/../js/all.js"></script>
    </body>
</html>
