<!DOCTYPE html>
</html>
    <head>
        <title>Frainovia</title>
        <link href="/../css/style.css" rel="stylesheet">      
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>
    <body>
        <div class="page-header text-center">
        <table>    
        <tr> 
            <th> 
    	    
    			<h1>Frainovia</h1>
    			
    		
            </th>
            <th> 
                <div class="col-sm-6">
                    <div class="well">
                        <h1><span class="fa fa-user"></span> <%= user.username%></h1>
                        <a href="/logout" class="a-inside delete">Déconnexion</a>
                            <!-- <p>
                                <strong>id</strong>: <br>
                                <strong>username</strong>: <%= user.username %><br>
                                <strong>password</strong>: <%= user.password %>
                            </p> -->

                    </div>
                </div>
            </th>
        </tr>
            
        </table> 
        </div>
        <div class="row">

        <!-- LOCAL INFORMATION -->
        

    </div>
		
        
